<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Log In</h1>
    <% if(error) { %>
      <p style="color: red"><%= error  %> </p>  
    <% } %> 
    <form action="/login" method="post">
        <div>
            <label for="title">User Name</label>
            <input type="text" name="username" id="" placeholder="UserName">
        </div>
        <br>
        <div>
            <label for="title">Password</label>
            <input type="password" name="password" id="" placeholder="Password">
        </div>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>