<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register</h1>
    <% if(error) { %>
        <p style="color: red"><%= error %></p>
    <% } %> 
    <form action="/register" method="post">
        <div>
            <label for="title">Email</label>
            <input type="text" name="email" placeholder="email">
        </div>
        <br>
        <div>
            <label for="title">Password</label>
            <input type="text" name="password" placeholder="Password">
        </div>
        <br>
        <div>
            <div>
                <label for="role">Role</label><br>
                <input type="radio" name="role" id="" value="User">
                <label for="user">User</Userl><br>
                <input type="radio" name="role" id="" value="Admin">
                <label for="admin">Admin</label><br>
            </div>
        </div>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>